.principal {
    border: 1px solid;
    text-align: center;
    background-color: #ffffff;
    line-height: 10.000;
}

#colorfondodos {
    border: 1px solid;
    text-align: center;
    background-color: #02b7ff;
    line-height: 4.000;
}
